
<%= image_tag("reftrkr.png", :alt => "rss feed") %>
<table>
  <thead>
    <style>
      table, th, td {
        padding: 10px;
        border: 1px solid black;
        border-collapse: collapse;
        text-align: center;
      }
    </style>
    <th>Email</th>
    <th>Counter</th>
    <th>User Id</th>
    <th>Referred By</th>
  </thead>
  <tbody>
    <% @user.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.counter %></td>
        <td><%= user.id %></td>
        <td><%=
          if @referral.find_by(referred: user.id) == nil
            "none"
          else
            @referrerId = @referral.find_by(referred: user.id).referrer
            User.find(@referrerId).email
          end
        %></td>
      </tr>
    <% end %>
  </tbody>
</table>
