<p id="notice"><%= notice %></p>

<h1>Email Referral Database</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Counter</th>
      <th>Referred By</th>
    </tr>
  </thead>

  <tbody>
    <% @main_data.each do |main_datum| %>
      <tr>
        <td><%= main_datum.email %></td>
        <td><%= main_datum.counter %></td>
        <td><p>Filler</p></td>
        <td><%= link_to 'Show', main_datum %></td>
        <td><%= link_to 'Remove', main_datum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'New Person', new_main_datum_path %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
