<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @main_datum.email %>
</p>

<p>
  <strong>Counter:</strong>
  <%= @main_datum.counter %>
</p>

<%= link_to 'Edit', edit_main_datum_path(@main_datum) %> |
<%= link_to 'Back', main_data_path %>
