<!DOCTYPE html>
<html>
  <head>
    <title>RefTracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <head>
      <title>Harry&#8217;s &ndash; Tell Friends, Shave for Free</title>
      <link rel="icon" href="<%= asset_path('favicon.ico') %>" type="image/x-icon">
      <link rel="shortcut icon" href="<%= asset_path('favicon.ico') %>" type="image/x-icon">

      <meta property="og:title" content="Harry’s is coming!"/>
      <meta property="og:description" content="Shaving is evolving. Didn’t want to leave you all behind. Check out Harry’s here."/>
      <meta property="og:image" content="<%= asset_path("refer/pic.jpg") %>"/>
      <%# <meta property="og:url" content="<%= root_url %>"/> %>
      <%# <% if @is_mobile %>
        <%# <% if @bodyId == 'home' %>
          <!-- <meta name="viewport" content="width=1600" /> -->
        <%# <% else %> %>
          <!-- <meta name="viewport" content="width=1120" /> -->
         <%# <% end %>  %>
      <% end %>
      <%= stylesheet_link_tag "application", :media => "all" %>
      <%= csrf_meta_tags %>
    </head>
    <body id="<%= @bodyId %>">
    <%= yield %>
  </body>
</html>
